<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.contacts %}
      <div class="row">
        {% for contact in site.data.contact.contacts %}
          <div class="col-md-6 contact-item"> <!-- Use a column for each contact -->
            <div class="call-location"><strong>Location: </strong> {{ contact.location }}</div>
            <div class="call-phone"><strong>Phone: </strong> {{ contact.phone }}</div>
            <div class="call-email"><strong>Email: </strong>
              <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% if include.show_button %}
    <div class="call-box-bottom">
      <a href="{{ site.data.contact.contact_button_link }}" class="button">Contact</a>
    </div>
  {% endif %}
</div>
