.logo {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  img {
    max-width: unset;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.logo-mobile {
  width: auto; /* Let the width adjust automatically */
  height: 32px; /* Match the desktop height */
  max-width: 240px; /* Ensure it doesn't exceed the desktop width */
  display: block;
  margin: 0 auto; /* Center the logo */
}

@media (max-width: 768px) {
  .logo-mobile {
    width: 100%; /* Scale to fit smaller screens */
    max-width: 240px; /* Keep the same proportions as the desktop logo */
    height: auto; /* Maintain aspect ratio */
  }
}